html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.back {
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
    width: 2%;
}

.time {
    position: absolute;
    width: 12.5%;
    height: 6%;
    margin: auto;
    top: 2%;
    left: 50%;
    margin-left: -7.5%;
}
.sel {
    width: 49%;
    height: 100%;
    border: 2px solid #fff;
    font-size: 150%;
    color: #000;
    text-align-last: center;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
}

.map {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.pic {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
}
.pic .img {
    height: 100%;
}
.pic .but{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
}

/*.button_b {
    width: 175px;
    height: 100px;
    background: none;
    border-color: transparent;
}
.button_b_p {
    width: 100px;
    height: 175px;
    background: none;
    border-color: transparent;
}

.button_s {
    width: 175px;
    height: 55px;
    background: none;
    border-color: transparent;
}
.button_s_p {
    width: 55px;
    height: 175px;
    background: none;
    border-color: transparent;
}

.button_c {
    width: 55px;
    height: 55px;
    background: none;
    border-color: transparent;
}*/

#dark1, #dark2 {
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#info{
    width: 40%;
    height: 67.5%;
    text-align: center;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #000;
}
#booking {
    width: 40%;
    height: 65%;
    text-align: center;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #000;
}
#dark1:target, #dark2:target {
    display: block;
}
.close {
    position: absolute;
    right: 2%;
    top: 2%;
    width: 5%;
}
.booking {
    margin-top: 2%;
    border: 2px solid #fff;
    font-size: 150%;
    color: #000;
    text-align-last: center;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
}


.picTable {
    width: 70%;
}

.fio {
    width: 40%;
    border: 2px solid #fff;
    font-size: 100%;
    color: #000;
    text-align-last: center;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
}
.tel {
    width: 20%;
    border: 2px solid #fff;
    font-size: 100%;
    color: #000;
    text-align-last: center;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
}
.quantity {
    width: 5%;
    border: 2px solid #fff;
    font-size: 100%;
    color: #000;
    text-align-last: center;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
}
.com {
    border: 2px solid #fff;
    font-size: 100%;
    color: #000;
    text-align-last: center;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
}
.selTime {
    width: 10%;
    border: 2px solid #fff;
    font-size: 100%;
    color: #000;
    text-align-last: center;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
}
