<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Map</title>

    <link rel="stylesheet" th:href="@{map.css}">
    <link rel="shortcut icon" th:href="@{../images/favicon.png}" type="image/png">

</head>
<body>

    <a th:href="@{../login}"><img th:src="@{../images/user.png}" class="user" onclick="document.location.href ='login.html'"/></a>

    <div>
        <a th:each="hall: ${halls}" th:href="@{/halls/{id}(id=${hall.id})}" th:title="${hall.name}" class="map"><img th:src="@{${hall.img}}" th:class="${hall.grade}"/></a>
    </div>

</body>
</html>