<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Small Hall</title>

    <link rel="stylesheet" href="../../resources/smallHall.css">
    <script src="../../resources/modal.js"></script>

</head>
<body>

    <button type="button" class="button_b_p" value="5" onclick="modal(value, id)" id="t20"></button>
    <button type="button" class="button_b_p" value="4" onclick="modal(value, id)" id="t21"></button>
    <button type="button" class="button_s_p" value="2" onclick="modal(value, id)" id="t22"></button>
    <button type="button" class="button_b" value="5" onclick="modal(value, id)" id="t23"></button>
    <button type="button" class="button_b" value="4" onclick="modal(value, id)" id="t24"></button>
    <button type="button" class="button_b" value="4" onclick="modal(value, id)" id="t25"></button>
    <button type="button" class="button_b" value="4" onclick="modal(value, id)" id="t26"></button>
    <button type="button" class="button_b" value="4" onclick="modal(value, id)" id="t27"></button>
    <button type="button" class="button_b" value="4" onclick="modal(value, id)" id="t28"></button>
    <button type="button" class="button_b" value="4" onclick="modal(value, id)" id="t29"></button>
    <button type="button" class="button_s" value="2" onclick="modal(value, id)" id="t30"></button>
    <button type="button" class="button_s" value="2" onclick="modal(value, id)" id="t31"></button>

    <!--<button type="button" class="button_b_p" onclick="document.location.href ='#dark'" id="t20"></button>-->
    <!--<button type="button" class="button_b_p" value="4" onclick="document.location.href ='#dark'" id="t21"></button>
    <button type="button" class="button_s_p" value="4" onclick="document.location.href ='#dark'" id="t22"></button>
    <button type="button" class="button_b" value="4" onclick="document.location.href ='#dark'" id="t23"></button>
    <button type="button" class="button_b" value="4" onclick="document.location.href ='#dark'" id="t24"></button>
    <button type="button" class="button_b" value="4" onclick="document.location.href ='#dark'" id="t25"></button>
    <button type="button" class="button_b" value="4" onclick="document.location.href ='#dark'" id="t26"></button>
    <button type="button" class="button_b" value="4" onclick="document.location.href ='#dark'" id="t27"></button>
    <button type="button" class="button_b" value="4" onclick="document.location.href ='#dark'" id="t28"></button>
    <button type="button" class="button_b" value="4" onclick="document.location.href ='#dark'" id="t29"></button>
    <button type="button" class="button_s" value="2" onclick="document.location.href ='#dark'" id="t30"></button>
    <button type="button" class="button_s" value="2" onclick="document.location.href ='#dark'" id="t31"></button>-->

    <img src="../../resources/images/back.png" class="back" width="30" onclick="document.location.href ='start.html'"/>
    <img src="../../resources/images/sh.png" class="img" width="850"/>

    <div id="dark">
        <div id="win">
            <img src="../../resources/images/close.png" class="close" width="30" onclick="document.location.href ='#'"/>
            <div id="table">
            </div>
            <div id="place">
            </div>
        </div>
    </div>

</body>
</html>