<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Map</title>

    <link rel="stylesheet" href="../../resources/start.css">

</head>
<body>

    <div id="maps">
        <span tooltip="Малый зал"><img src="../../resources/images/sh.png" width="530" onclick="document.location.href ='smallHall.html'"/></span>
        <span tooltip="Большой зал"><img src="../../resources/images/bh.png" class="img" width="985" onclick="document.location.href ='bigHall.html'"/></span>
    </div>

</body>
</html>