<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${halls.name}"></title>

    <link rel="stylesheet" th:href="@{../hall.css}">
    <script th:src="@{../modal.js}"></script>

</head>
<body>

    <a th:href="@{../start}"><img th:src="@{../images/back.png}" class="back" onclick="document.location.href ='start.html'"/></a>

    <div class="time">
        <select class="sel" id="old" value="#" onchange="selectChanged1(this.value);">
            <option disabled selected>Выберите время</option>
            <option th:each="time: ${times}" th:value="${time.id}" th:text="${time.time}"></option>
        </select>
        <select class="sel" id="new" value="#">
            <option disabled selected>Выберите время</option>
            <option th:each="time: ${times}" th:value="${time.id}" th:text="${time.time}"></option>
        </select>
    </div>

    <div class="map">
        <div class="pic"><img th:src="@{'../'+${halls.img}}" th:class="${halls.grade}"/>
            <!--<button type="button" th:class="${desks[0].grade}" th:onclick="'modal1('+${desks[0].quantity}+', '+${desks[0].number}+')'"
                    th:style="'position:'+${desks[0].position}+';'"></button>-->
            <div class="but">
                <button type="button" th:each="desk: ${desks}" th:class="${desk.grade}" th:onclick="'modal1('+${desk.quantity}+', '+${desk.number}+')'"
                    th:style="'position:'+${desk.position}+'; left:'+${desk.leftCord}+'%; top:'+${desk.topCord}+'%;'"></button>
            </div>
        </div>

    </div>

    <div id="dark1">
        <div id="info">
            <img th:src="@{../images/close.png}" class="close" onclick="document.location.href ='#'"/>
            <div id="table"></div>
            <div id="place"></div>
            <div>
                <img th:src="@{'../'+${desks[0].img}}" class="picTable">
            </div>
            <div>
                <button type="button" class="booking" onclick="modal2()">Забронировать</button>
            </div>
        </div>
    </div>

    <div id="dark2">
        <div id="booking">
            <img th:src="@{../images/close.png}" class="close" onclick="document.location.href ='#'"/>
            <div>
                <h1>Лист бронирования</h1>
            </div>
            <div id="fio">
                <h2>ФИО:</h2>
                <input class="fio" type="text" name="name" placeholder="Иванов Иван Иванович" required="required">
            </div>
            <div id="tel">
                <h2>Телефон:</h2>
                <input class="tel" type="tel" name="tel" pattern="8[0-9]{10}" placeholder="88005553535" required="required">
            </div>
            <div id="quantity">
                <h2>Количество гостей:</h2>
                <input class="quantity" type="number" name="quantity" max="5" placeholder="1" required="required">
            </div>
            <div id="time">
                <h2>Время бронирования:</h2>
                <select class="selTime" id="timeF" value="#" onchange="selectChanged2(this.value);">
                    <option disabled>Выберите время</option>
                    <option th:each="time: ${times}" th:value="${time.id}" th:text="${time.time}"></option>
                </select>
                <select class="selTime" id="timeS">
                    <option disabled>Выберите время</option>
                    <option th:each="time: ${times}" th:value="${time.id}" th:text="${time.time}"></option>
                </select>
            </div>
            <div id="com">
                <h2>Комментарий:</h2>
                <textarea class="com" rows="3" cols="45" name="text" placeholder="Можете оставить комментарий"></textarea>
            </div>
            <div>
                <button type="button" class="booking">Забронировать</button>
            </div>
        </div>
    </div>

</body>
</html>