<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>

    <link rel="stylesheet" th:href="@{../login.css}">
    <link rel="shortcut icon" th:href="@{../images/favicon.png}" type="image/png">

</head>
<body>

    <a th:href="@{../map}"><img th:src="@{../images/back.png}" class="back" onclick="document.location.href ='map.html'"/></a>

    <h1>Вход в систему</h1>
    <form th:action="@{/login}" method="POST">
        <div id="logon">
            <div id="login">
                <h2>Логин:</h2>
                <input class="login" type="text" name="username" placeholder="Введите логин" required="required" autofocus="true">
            </div>
            <div id="pass">
                <h2>Пароль:</h2>
                <input class="pass" type="password" name="password" placeholder="Введите пароль" required="required">
            </div>
            <button type="submit" class="sub" value="login">Войти</button>
        </div>
    </form>


</body>
</html>