<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Small Hall</title>

    <link rel="stylesheet" th:href="@{smallHall.css}">
    <script th:src="@{modal.js}"></script>

</head>
<body>

    <button type="button" class="button_b_p" value="5" onclick="modal(value, id)" id="t20"></button>
    <button type="button" class="button_b_p" value="4" onclick="modal(value, id)" id="t21"></button>
    <button type="button" class="button_s_p" value="2" onclick="modal(value, id)" id="t22"></button>
    <button type="button" class="button_b" value="5" onclick="modal(value, id)" id="t23"></button>
    <button type="button" class="button_b" value="4" onclick="modal(value, id)" id="t24"></button>
    <button type="button" class="button_b" value="4" onclick="modal(value, id)" id="t25"></button>
    <button type="button" class="button_b" value="4" onclick="modal(value, id)" id="t26"></button>
    <button type="button" class="button_b" value="4" onclick="modal(value, id)" id="t27"></button>
    <button type="button" class="button_b" value="4" onclick="modal(value, id)" id="t28"></button>
    <button type="button" class="button_b" value="4" onclick="modal(value, id)" id="t29"></button>
    <button type="button" class="button_s" value="2" onclick="modal(value, id)" id="t30"></button>
    <button type="button" class="button_s" value="2" onclick="modal(value, id)" id="t31"></button>

    <a th:href="@{start}"><img th:src="@{images/back.png}" class="back" width="30" onclick="document.location.href ='start.html'"/></a>
    <img th:src="@{images/sh.png}" class="img" width="850"/>

    <div id="dark">
        <div id="win">
            <img th:src="@{images/close.png}" class="close" width="30" onclick="document.location.href ='#'"/>
            <div id="table">
            </div>
            <div id="place">
            </div>
        </div>
    </div>

</body>
</html>