body {
    background-color: black;
}

.img {
    margin-top: 8.5%;
    margin-left: 10%;
}

.back {
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
}

.button_b {
    width: 175px;
    height: 100px;
    background: none;
    border-color: transparent;
}

.button_s {
    width: 175px;
    height: 55px;
    background: none;
    border-color: transparent;
}

.button_c {
    width: 55px;
    height: 55px;
    background: none;
    border-color: transparent;
}

/*#t1 {
    position: absolute;
    left: 10.5%;
    top: 52%;
}
#t2 {
    position: absolute;
    left: 10.5%;
    top: 42.5%;
}
#t3 {
    position: absolute;
    left: 10.5%;
    top: 33%;
}
#t4 {
    position: absolute;
    left: 10.5%;
    top: 18.6%;
}
#t5 {
    position: absolute;
    left: 22.5%;
    top: 18.6%;
}
#t6 {
    position: absolute;
    left: 33.5%;
    top: 18.6%;
}
#t7 {
    position: absolute;
    left: 45%;
    top: 18.6%;
}
#t8 {
    position: absolute;
    left: 56%;
    top: 18.6%;
}
#t9 {
    position: absolute;
    left: 67.5%;
    top: 18.6%;
}
#t10 {
    position: absolute;
    left: 79.1%;
    top: 18.7%;
}
#t11 {
    position: absolute;
    left: 79.1%;
    top: 33.1%;
}
#t12 {
    position: absolute;
    left: 79.1%;
    top: 42.9%;
}
#t13 {
    position: absolute;
    left: 79.1%;
    top: 52.6%;
}
#t14 {
    position: absolute;
    left: 79.1%;
    top: 62.2%;
}
#t15 {
    position: absolute;
    left: 25.8%;
    top: 44.4%;
}
#t16 {
    position: absolute;
    left: 38.85%;
    top: 44.4%;
}
#t17 {
    position: absolute;
    left: 50.85%;
    top: 44.4%;
}
#t18 {
    position: absolute;
    left: 63.85%;
    top: 44.45%;
}
#c1 {
    position: absolute;
    left: 45.05%;
    top: 67%;
}
#c2 {
    position: absolute;
    left: 50.85%;
    top: 67%;
}
#c3 {
    position: absolute;
    left: 56.65%;
    top: 67%;
}
#c4 {
    position: absolute;
    left: 62.45%;
    top: 67%;
}
#c5 {
    position: absolute;
    left: 68.25%;
    top: 67%;
}*/

#dark {
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#win {
    width: 30%;
    height: 50%;
    text-align: center;
    padding: 15px;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #000;
}
#dark:target {
    display: block;
}
.close {
    position: absolute;
    right: 2%;
    top: 2%;
}
